<div class="main-container container">
    <div class="row">
        <div class="col-12 header-background">
            <h1 class="text-center">Sistema de Inspeção Veicular</h1>
        </div>
    </div>

    <div class="row main-menu-container">
        <div class="col-12">
            <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2"
                role="tablist"
                style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
                <li class="nav-item" role="presentation">
                    <a class="nav-link rounded-5" id="home-tab2" data-bs-toggle="tab"
                        role="tab" aria-selected="true" routerLink="car-submit-data" routerLinkActive="active">Inspecionar Veículo</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" role="tab"
                        aria-selected="false" routerLink="car-inspection-list" routerLinkActive="active">Histórico de Laudos</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>